# Thư mục build và cache của Hugo
public/
resources/_gen/
assets/jsconfig.json
hugo_stats.json
.hugo_build.lock

# Thư mục chứa thư viện (nếu bạn có dùng npm/yarn)
node_modules/

# File hệ thống của Mac/Windows
.DS_Store
Thumbs.db

# File cấu hình của các Editor/IDE
.vscode/
.idea/
*.swp